<div class="main-table" th:fragment="list" xmlns:th="http://www.w3.org/1999/xhtml">

    <div th:if="${tableMode.mode==2}" class="to-something-new-button">
        <dialog id="add-dialog" class="add-dialog dialog">
            <form th:fragment="new-product-form" class="new-product-container"
                  th:action="@{/workPage/index/orderList/add}" method="post">
                <div class="some-text" th:text="'Новая покупка'">
                </div>
                <div class="new-product-inputs new-inputs">
                    <select required name="product.productId">
                        <option disabled value="" selected>Выберите товар</option>
                        <option th:each="product : ${products}" th:value="${product.productId}"
                                th:utext="${product.title}"></option>
                    </select>

                    <input type="number" min="0" class="new-product-input"
                           placeholder="Количество"
                           autofocus="true" required="required"
                           th:name="orderCount"/>


                </div>
                <div class="bottom-new-product-buttons">
                    <button type="submit" class="confirm-add-new-product-button dialog-button">Добавить</button>
                    <button type="button" class="close-add-dialog dialog-button">Отмена</button>
                </div>
            </form>

        </dialog>
        <a class="new-product-add-button open-add-dialog open-dialog" th:onclick="
                                        let divParent = this.closest('div');
                                        let dialogCloseButton = divParent.querySelector('.new-product-container').querySelector('.bottom-new-product-buttons').querySelector('.close-add-dialog');
                                        let addDialog = divParent.querySelector('#add-dialog');
                                        addDialog.show();
                                        dialogCloseButton.onclick = function(){
                                        addDialog.close();}">Добавить
        </a>
    </div>

    <table th:if="${tableMode.mode==2}" class="table">
        <thead>
        <tr>
            <th style="width: 15%">id заказа</th>
            <th style="width: 15%">Дата заказа</th>
            <th style="width: 15%">Наим. товара</th>
            <th style="width: 15%">Кол-во товара</th>
            <th style="width: 15%; padding: 10px;">Итоговая цена</th>

        </thead>
        <tbody>
        <tr th:each="i : ${#numbers.sequence(orders.size() - 1, 0, -1)}"
            th:with="order=${orders[i]}"
            class="table-row">

            <td style="text-align: center; padding: 10px;">
                <div class="table-cell" th:text="${order.orderId}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="table-cell" th:text="${order.getDateInNormalFormat()}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="table-cell" th:text="${order.product.title}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="table-cell" th:text="${order.orderCount}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="table-cell" th:text="${order.getFinalPrice()}">
                </div>
            </td>


        </tr>
        </tbody>
    </table>


</div>



