<div class="main-table" th:fragment="list" xmlns:th="http://www.w3.org/1999/xhtml">


    <div th:if="${tableMode.mode==1}" class="to-something-new-button">
        <dialog id="add-dialog" class="add-dialog dialog">
            <form th:fragment="new-product-form" class="new-product-container"
                  th:action="@{/workPage/index/productSupplyList/add}" method="post">
                <div class="some-text" th:text="'Товар в поставке'">
                </div>
                <div class="new-product-inputs new-inputs">
                    <select required name="product.productId" >
                        <option disabled value="" selected>Выберите товар</option>
                        <option th:each="product : ${products}" th:value="${product.productId}"
                                th:utext="${product.title}" ></option>
                    </select>
                    <select required name="supply.supplyId" >
                        <option disabled value="" selected>Выберите поставку</option>
                        <option th:each="supply : ${supplies}" th:value="${supply.supplyId}" th:utext="${supply.supplyId}"></option>
                    </select>

                </div>
                <div class="bottom-new-product-buttons">
                    <button type="submit" class="confirm-add-new-product-button dialog-button">Добавить</button>
                    <button type="button" class="close-add-dialog dialog-button">Отмена</button>
                </div>
            </form>

        </dialog>
        <a class="new-product-add-button open-add-dialog open-dialog" th:onclick="
                                        let divParent = this.closest('div');
                                        let dialogCloseButton = divParent.querySelector('.new-product-container').querySelector('.bottom-new-product-buttons').querySelector('.close-add-dialog');
                                        let addDialog = divParent.querySelector('#add-dialog');
                                        addDialog.show();
                                        dialogCloseButton.onclick = function(){
                                        addDialog.close();}">Добавить
        </a>
   <div>


    <table th:if="${tableMode.mode==1}" class="table">
        <thead>
        <tr>
            <th style="width: 15%">Наим. товара</th>
            <th style="width: 15%">Категория</th>
            <th style="width: 15%">Цена</th>
            <th style="width: 15%">Количество</th>
            <th style="width: 10%">Id поставки</th>
            <th style="width: 15%">Дата поставки</th>
            <th style="width: 15%; padding: 10px;">Наим. поставщика</th>
        </thead>
        <tbody>
        <tr th:each="i : ${#numbers.sequence(suppliesProducts.size() - 1, 0, -1)}"
            th:with="supplyProduct=${suppliesProducts[i]}"
            class="table-row">

            <td style="text-align: center; padding: 10px;">
                <div class="table-cell" th:text="${supplyProduct.product.title}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="table-cell" th:text="${supplyProduct.product.category.title}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="table-cell" th:text="${supplyProduct.product.price}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="table-cell" th:text="${supplyProduct.product.productCount}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="table-cell" th:text="${supplyProduct.supply.supplyId}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="table-cell" th:text="${supplyProduct.supply.getDateInNormalFormat()}">
                </div>
            </td>
            <td style="text-align: center">
                <div class="table-cell" th:text="${supplyProduct.supply.supplier.title}">
                </div>
            </td>


        </tr>
        </tbody>
    </table></div>
