<div class="main-table" th:fragment="list" xmlns:th="http://www.w3.org/1999/xhtml">
<!--    <table th:if="${tableMode.mode==1}" class="table">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th style="width: 10%">id</th>-->
<!--            <th style="width: 25%">Имя пользователя</th>-->
<!--            <th style="width: 25%">Время открытия</th>-->
<!--            <th style="width: 25%">Время закрытия</th>-->
<!--            <th colspan="2">-->
<!--                <dialog id="add-dialog" class="add-dialog dialog">-->
<!--                    <form th:fragment="new-shift-form" class="new-shift-container"-->
<!--                          th:action="@{/mainPage/index/shiftList/add}" method="post">-->
<!--                        <div class="some-text" th:text="'Новая смена'">-->
<!--                        </div>-->
<!--                        <div class="new-shift-inputs new-inputs">-->
<!--                            <select required th:name="user.userId">-->
<!--                                <option disabled value="" selected>Выберите сотрудника</option>-->
<!--                                <option th:each="user : ${users}" th:value="${user.userId}"-->
<!--                                        th:utext="${user.username}"></option>-->
<!--                            </select>-->

<!--                            <input type="datetime-local" class="open-date-input update-shift-input"-->
<!--                                   placeholder="Дата открытия"-->
<!--                                   autofocus="true" required="required"-->
<!--                                   th:name="openDate"/>-->

<!--                            <input type="datetime-local" class="close-date-input update-shift-input"-->
<!--                                   placeholder="Дата закрытия"-->
<!--                                   autofocus="true" required="required"-->
<!--                                   th:name="closeDate"/>-->
<!--                        </div>-->
<!--                        <div class="bottom-new-shift-buttons">-->
<!--                            <button type="submit" class="confirm-add-new-shift-button dialog-button">Добавить</button>-->
<!--                            <button type="button" class="close-add-dialog dialog-button">Отмена</button>-->
<!--                        </div>-->
<!--                    </form>-->

<!--                </dialog>-->
<!--                <a class="new-shift-add-button open-add-dialog open-dialog" th:onclick="-->
<!--                                        let divParent = this.closest('div');-->
<!--                                        let dialogCloseButton = divParent.querySelector('.new-shift-container').querySelector('.bottom-new-shift-buttons').querySelector('.close-add-dialog');-->
<!--                                        let addDialog = divParent.querySelector('#add-dialog');-->
<!--                                        addDialog.show();-->
<!--                                        dialogCloseButton.onclick = function(){-->
<!--                                        addDialog.close();}">Добавить-->
<!--                </a>-->
<!--            </th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="i : ${#numbers.sequence(shifts.size() - 1, 0, -1)}"-->
<!--            th:with="shift=${shifts[i]}"-->
<!--            class="table-row">-->

<!--            <td style="text-align: center">-->
<!--                <div class="table-cell" th:text="${shift.shiftId}">-->
<!--                </div>-->
<!--            </td>-->
<!--            <td style="text-align: center">-->
<!--                <div class="table-cell" th:text="${shift.user.username}">-->
<!--                </div>-->
<!--            </td>-->
<!--            <td style="text-align: center">-->
<!--                <div class="table-cell" th:text="${shift.openDate}">-->
<!--                </div>-->
<!--            </td>-->
<!--            <td style="text-align: center">-->
<!--                <div class="table-cell" th:text="${shift.closeDate}">-->
<!--                </div>-->
<!--            </td>-->



<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
</div>
