<header th:if="${checkUser.isAdmin()}" th:fragment="header"  xmlns:th="">
    <div id="header">
        <a class="header-element header-text">Меню администратора</a>
        <a class="header-element header-button" th:href="@{../../../../mainPage/index/adminTables}">Работа с таблицами</a>
        <a class="header-element header-button" th:href="@{../../../../mainPage/index/reports}">Отчеты</a>
        <a class="header-element header-button" th:href="@{../../../../referencePage/index}">Справка</a>
        <a class="header-element header-button" th:href="@{../../../../userPage/index}">Сотрудники</a>
        <a class="header-element header-button" th:href="@{/logout}">Выход</a>
    </div>
</header>