<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
<!--    <link rel="stylesheet" href="../../static/css/main.css" th:rel="stylesheet"-->
<!--          th:href="@{/css/main.css}">-->
    <link rel="stylesheet" href="../../static/css/table.css" th:rel="stylesheet"
          th:href="@{/css/table.css}">
    <link rel="stylesheet" href="../../static/css/header.css" th:rel="stylesheet"
          th:href="@{/css/header.css}">
    <link rel="stylesheet" href="../../static/css/general.css" th:rel="stylesheet"
          th:href="@{/css/general.css}">
    <link rel="stylesheet" href="../../static/css/dialog.css" th:rel="stylesheet"
          th:href="@{/css/dialog.css}">
    <link rel="stylesheet" href="../../static/css/adminTables.css" th:rel="stylesheet"
          th:href="@{/css/adminTables.css}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700" rel="stylesheet"
          th:href="@{https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700}"
          th:rel="stylesheet">

</head>
<body>

<header th:replace="generalElements/headerForUsers :: header"></header>
<header th:replace="generalElements/header :: header"></header>
<main id="main">
    <div class="main-table"   th:replace="mainPage/adminTables/mainList :: list">
    </div>

    <div class="main-table"   th:replace="mainPage/reports/mainList :: list">
    </div>

    <div class="main-table" th:unless="${checkUser.isAdmin()}">
    </div>
</main>

<!--<footer th:replace="commonElements/footer :: footer">someFooter</footer>-->
</body>

<script type="text/javascript">

    /* функция добавления ведущих нулей */
    /* (если число меньше десяти, перед числом добавляем ноль) */
    function zero_first_format(value)
    {
        if (value < 10)
        {
            value='0'+value;
        }
        return value;
    }

    /* функция получения текущей даты и времени */
    function date_time()
    {
        var current_datetime = new Date();
        var day = zero_first_format(current_datetime.getDate());
        var month = zero_first_format(current_datetime.getMonth()+1);
        var year = current_datetime.getFullYear();
        var hours = zero_first_format(current_datetime.getHours());
        var minutes = zero_first_format(current_datetime.getMinutes());
        var seconds = zero_first_format(current_datetime.getSeconds());

        return day+"."+month+"."+year+" "+hours+":"+minutes+":"+seconds;
    }

    /* выводим текущую дату и время на сайт в блок с id "current_date_time_block" */
    document.getElementById('current_date_time_block').innerHTML = date_time();
</script>


<script type="text/javascript">
    /* каждую секунду получаем текущую дату и время */
    /* и вставляем значение в блок с id "current_date_time_block2" */
    setInterval(function () {
        document.getElementById('current_date_time_block').innerHTML = date_time();
    }, 1000);
    </script>
<!--<script th:src="@{/js/main.js}"></script>-->
</html>