.table-menu{

    display: flex;
    flex-direction: row;
    color: #222222;
    justify-content: space-around;
}

.table-menu a{
    padding: 10px;
    font-size: 15px;
    color: #222222;
    padding-right: 40px;
    padding-left: 40px;
    text-decoration: none;
}

.table-menu a:hover{
    background-color: #dddddd;
    cursor: pointer;
}