* {
    font-family: "Montserrat";
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
}

.main {
    width: 100%;
}



