* {
    font-family: "Montserrat";
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.main {
    width: 100%;
}



.dialog{
    position: absolute;
    margin: auto;
    left:0;
    right:0;
    top:50%;
    transform: translate(0, -50%);
    background-color: #FFFFFF;
    color:#222222;
    font-size:20px;
    border-color: #bbbbbb;
    padding: 20px;
    max-width:500px;
}

.new-inputs, .update-inputs, .delete-inputs{
    display:flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 20px;
}

select, input{
    font-size: 15px;
    background-color: #ffffff;
    color: #222222;
    border: 0;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px #222222 solid;
    border-radius:1px;
}

.dialog-button{
    font-size: 15px;
    border: 0;
    background-color: #37474F;
    color: #dddddd;
    padding: 10px;
}

.dialog-button:hover{
    background-color: #48585F;
    cursor: pointer;
}

.open-dialog:hover{
    background-color: #C8E5EA;
    cursor: pointer;
}

.some-text{
    white-space: pre-wrap;
    text-align: center;
    margin: 20px;
}

.open-dialog{
    background-color: #E9F6FB;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-grow: 0;
}



.application-form{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;

}

.input-area{
    border: 1px solid #222222;
    padding: 10px;
    font-size: 20px;

}

.app-elem{
    margin-top: 20px;
}

.confirm-app{
    margin: 0;
    margin-top: 20px;
    padding: 10px;
    color: #ffffff;
    border: 0;
    background-color: #37474F;
}

.confirm-app:hover{
    background-color: #48585F;
    cursor: pointer;

}




.reference-images{
    display: flex;
    flex-direction: column;
    align-items: center;
}

