#header{
    width: 100vw;
    background-color: #37474F;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-element{
    background-color: #37474F;
    font-size: 25px;
    padding: 20px;
    text-decoration: none;
    color: #ffffff;
}

.header-button:hover{
    background-color: #48585F;
    text-align: center;
}

.header-text{
    background-color: #26363E;
}